<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
      <ion-text color="danger" *ngIf="email?.errors?.['required']">Email is required.</ion-text>
      <ion-text color="danger" *ngIf="email?.errors?.['email']">Enter a valid email.</ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
      <ion-text color="danger" *ngIf="password?.errors?.['required']">Password is required.</ion-text>
      <ion-text color="danger" *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters long.</ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
      <ion-text color="danger" *ngIf="confirmPassword?.errors?.['required']">Confirm Password is required.</ion-text>
    </div>
    <div *ngIf="registerForm?.errors?.['mismatch'] && (confirmPassword?.dirty || confirmPassword?.touched)">
      <ion-text color="danger">Passwords do not match.</ion-text>
    </div>

    <ion-button expand="full" type="submit" [disabled]="registerForm.invalid">Register</ion-button>
  </form>
</ion-content>
