<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Music</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-menu contentId="main-content" menuId="main-menu" side="start">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item routerLink="/home">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item routerLink="/explore">
          <ion-icon slot="start" name="compass-outline"></ion-icon>
          <ion-label>Explore</ion-label>
        </ion-item>
        <ion-item routerLink="/my-music">
          <ion-icon slot="start" name="musical-notes-outline"></ion-icon>
          <ion-label>My Music</ion-label>
        </ion-item>
        <ion-item routerLink="/profile">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-item>
        <ion-item routerLink="/register">
          <ion-icon slot="start" name="person-add-outline"></ion-icon>
          <ion-label>Register</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <ion-title size="large">My Music</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!-- Content for My Music page -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>My Favorite Songs</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!-- Example content -->
          <ion-list>
            <ion-item>
              <ion-label>Song 1</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Song 2</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Song 3</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>
</ion-content>
